<template name="Footer">
	<div class="pg-empty-placeholder footer">Questo sito non è legato in alcun modo a nessun partito e vuole essere solo un semplice esperimento per la previsione dei risultati del prossimo referendum. Chiunque è libero di votare, dal sistema viene registrata solo ed esclusivamente la preferenza espressa mantenendo l' utente nel totale anonimato (il voto è SEGRETO). L' univocità del voto viene gestita lato client utilizzando dei Cookie.
	<p>Build with <i class="fa fa-heart" aria-hidden="true"></i> in <a href="https://www.meteor.com">Meteor JS</a> by <a href="http://www.codetutorial.io">Andrea Terzani ©2016</a></p></div>
</template>
