<template name="Question">
            {{#if resultvisible }}
            <a href="/result" target="_self">	<div class="vote-result">
            	   	<h1>RISULTATI</h1>
            	</div></a>
             {{else}}
	            <div class="main-container">
	                <div class="left-pane">
	                    <button class="vote-button btn-yes">SI</button>
	                </div>
	                <div class="right-pane">
	                    <button class="vote-button btn-no">NO</button>
	                </div>
	            </div>
            {{/if}}
</template>
