<template name="Referendum">
            <div class="scheda-main">
                <h1><a href="/">Referendum Costituzionale 2016</a></h1>
                <article class="scheda-text">
                    <p>Approvate il testo della legge costituzionale concernente 'disposizioni per il superamento del bicameralismo paritario, la riduzione del numero dei parlamentari, il contenimento dei costi di funzionamento delle istituzioni, la soppressione del Cnel e la revisione del Titolo V della parte seconda della Costituzione', approvato dal Parlamento e pubblicato nella Gazzetta ufficiale numero 88 del 15 aprile 2016?<br></p>
                </article>
            </div>
            
</template>
